.category-container {
  min-width: 30%;
  height: 250px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7.5px 15px;
  overflow: hidden;
  border-radius: 50px;
  transition: 1s all ease-in-out;
  padding: 10px;

  & .background-image {
    transition: 1s all ease-in-out;
  }

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.4);

      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .category-body-container {
      transform: scale(1.1);
      background: #474747;

      h2 {
        color: white;
      }

      p {
        color: white;
      }
    }
  }

  &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .category-body-container {
    height: 100px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid black;
    border-radius: 10px;
    color: wheat;
    background-color: transparent;
    opacity: 0.7;
    position: absolute;
    transition: 1s all ease-in-out;

    h2 {
      font-weight: bold;
      margin: 0 6px 0;
      font-size: 22px;
      color: #000000;
    }

    p {
      font-weight: lighter;
      font-size: 16px;
      color: #000000;
    }
  }
}
