@import "../../scss/config";

.gallery {
  border-radius: 20px;
  transition: 0.4s;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
    background-color: #363535;
    cursor: pointer;

    h3 {
      margin-top: 20px;
    }

    img {
      width: 200px;
      height: 200px;
    }

    .details {
      button {
        width: 180px;
        color: white;
        padding: 10px;
        border: 1px solid #989898;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        border-radius: 30px;
        margin-top: 20px;
        transition: 0.4s;
      }

      h6 {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        color: #b0b0b0;
      }

      p {
        margin-top: 10px;
        text-align: center;
      }
    }
  }

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0, 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);

    .details {
      button {
        background: white;
        color: black;
      }
    }
  }
}
