@import "../../scss/config";

.container {
  text-align: center;
  min-height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/smchuma/image/upload/v1674566462/bgmobile3_kbpkir.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &-content {
    h1 {
      font-family: $font-italic;
      font-size: 5rem;
      color: white;

      span {
        font-family: $font-main;
        font-size: 3rem;
      }
    }

    button {
      width: 80%;
    }
  }
}

.shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.shape-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 57px;
  transform: rotateY(180deg);
}

.shape-divider .shape-fill {
  fill: #1a1a1a;
}

@import "../../scss/mobile";
