@media all and (max-width: 1050px) {
  .navbar {
    nav {
      .button-cart {
        margin-right: 20px;
      }
    }
  }
}

@media all and (max-width: 985px) {
  .container {
    height: 100vh;
  }
  .category {
    display: flex;
    flex-direction: column;
  }
}

//! hamburger mode for mobile

@media all and (max-width: 867px) {
  .navbar {
    nav {
      .nav-links {
        display: none;
      }
      .button-cart {
        margin-right: 60px;
      }
      button {
        display: none;
      }
    }
    .hamburger {
      display: block;
      margin-left: 20px;
    }
  }
  .banner {
    text-align: center;
    height: 50vh;

    .banner-text {
      padding-top: 0;
      height: 50vh;
    }

    img {
      display: none;
    }
    p {
      font-size: 15px;
    }
  }
}

@media all and (max-width: 595px) {
  .banner {
    &-text {
      h2 {
        font-size: 20px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}

@media all and (max-width: 395px) {
  .banner {
    height: 50vh;
    &-text {
      h2 {
        font-size: 15px;
      }

      p {
        font-size: 10px;
      }
    }
  }
}

@media all and (max-width: 320px) {
  .banner {
    height: 80vh;
    &-text {
      h2 {
        font-size: 15px;
      }

      p {
        font-size: 10px;
      }
    }
  }
}
