@media all and (max-width: 985px) {
  .navbar {
    nav {
      .nav-links {
        display: none;
      }
      .button-cart {
        margin-right: 60px;
      }
    }
    .hamburger {
      display: block;
      margin-left: 20px;
    }
    button {
      display: none;
    }
  }

  .category {
    display: flex;
    flex-direction: column;
  }
}

//! hamburger mode for mobile

@media all and (max-width: 867px) {
  .banner {
    text-align: center;
    height: 50vh;

    .banner-text {
      padding-top: 0;
      height: 50vh;
    }

    img {
      display: none;
    }
    p {
      font-size: 15px;
    }
  }
}

@media all and (max-width: 595px) {
  .banner {
    &-text {
      h2 {
        font-size: 20px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  .form-input {
    .form {
      form {
        input {
          width: 350px;
        }
      }
    }
  }

  .google-btn {
    background-color: red;
  }
}

@media all and (max-width: 395px) {
  .banner {
    height: 50vh;
    &-text {
      h2 {
        font-size: 15px;
      }

      p {
        font-size: 10px;
      }
    }
  }

  .form-input {
    h1 {
      font-size: 25px;
    }
    .form {
      form {
        input {
          width: 280px;
        }
        button {
          margin-left: 20%;
        }
      }
    }
  }
}

@media all and (max-width: 320px) {
  .banner {
    height: 80vh;
    &-text {
      h2 {
        font-size: 15px;
      }

      p {
        font-size: 10px;
      }
    }
  }
  .form-input {
    h1 {
      font-size: 15px;
    }
    .form {
      form {
        input {
          width: 200px;
        }
        button {
          margin-left: 10%;
        }
      }
    }
  }
}
