@import "../../scss/config";

.banner {
  color: white;
  display: flex;
  justify-content: space-between;

  font-family: $font-main;

  img {
    width: 30%;
    margin-left: 50px;
  }

  &-text {
    padding: 100px;

    h2 {
      font-size: 30px;
      padding-bottom: 20px;
    }

    p {
      font-size: 18px;
      text-align: justify;
    }
  }
}

@import "../../scss/mobile";
